
<div class="container">
	<div class="row">
		<div class="col-md-10 co-10 offset-md-1 offset-1">
			<div class="box">
				<div class="box-heading">
					<h2 class="box-title">重新設定密碼</h2>	
				</div>
				<div class="box-body">
					<p class="text-content">您的帳號目前處於停用狀態，請至下方設定新密碼來恢復設定</p>
					<div class="row">
						<div class="col-lg-7 col-md-8 colsm-10 col-12">
							<form name="resetPassword" ng-submit="resetPassword.$valid && $vm.resetPassword()" novalidate>
								<h2 class="outline" style="margin: 20px 0;">請選擇新密碼</h2>								
								<div class="form-group has-feedback clearfix" ng-class="{'has-error': resetPassword.password.$invalid && (resetPassword.password.$dirty || resetPassword.$submitted)}">
									<input type="password" class="form-control" name="password" ng-model="$vm.password" placeholder="密碼 (至少需5碼)" required autofocus>
									<span class="help-block error-block basic-block">請輸入密碼</span>
								</div>
								<div class="form-group has-feedback clearfix" ng-class="{'has-error': resetPassword.passwordAgain.$invalid && (resetPassword.passwordAgain.$dirty || resetPassword.$submitted)}">
									<input type="password" class="form-control" name="passwordAgain" ng-model="$vm.passwordAgain" placeholder="請再輸入一次密碼" input-match="$vm.password" required>
									<span class="help-block error-block basic-block">請輸入密碼</span>
								</div>
								<button class="btn btn-brand">
									<i class="fa fa-spinner fa-spin" style="display: none;"></i> 提交
								</button>
							</form>	
						</div>						
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>