

<div class="progress-container">
	<div class="box box-border">
		<div class="box-body">
			<span class="step">1</span>
			<label class="remarkable-text">購物系統完成商品訂購</label>
		</div>
	</div>
	<div class="box box-border">
		<div class="box-body">
			<span class="step">2</span>
			<label class="remarkable-text">系統發送Email購物明細(如有誤請至會員管理取消交易)</label>
		</div>
	</div>	
	<div class="box box-border">
		<div class="box-body">
			<span class="step">3</span>
			<label class="remarkable-text">在匯款期限7日前完成匯款</label>
		</div>
	</div>
	<div class="box box-border">
		<div class="box-body">
			<span class="step">4</span>
			<label class="remarkable-text">確認款項後發送Email通知交易成立</label>
		</div>
	</div>
</div>
