<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-12">
			<div class="product-category-sidebar">
				<!-- <h2 class="panel-title">搜尋結果</h2> -->
				<!-- <div class="product-category">
					<ul class="product-measure-items">
						<li><a href=""><span class="pull-right">(number)</span>{{name}}</a></li>
					</ul>
				</div> -->
				<h2 class="product-title">產品分類</h2>
				<div class="panel-group product-category">
					<div class="panel panel-default" ng-repeat="category in ::$vm.categories">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a ui-sref="shop.product.list({productCategory: category.href})">{{category.name}}<span class="badge pull-right" ng-if="product.subCategory"><i class="fa fa-plus"></i></span></a>
							</h4>
						</div>
						<div class="panel-body">
							<ul>
								<li></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-12 pull-right">
			<div ui-view="product" autoscroll="true" ng-cloak></div>
		</div>
	</div>
</div>