
$tag-primary-color: #209e91;
$tag-success-color: #90b900;
$tag-warning-color: #dfb81c;
$tag-danger-color: #e85656;

.label-item {
	display: inline-block;
	margin: 5px;

	.item-tag {
		text-transform: lowercase;
		font-size: 11px;
		font-weight: $font-normal;
		width: 45px;
		cursor: pointer;
		padding: .2em .5em;
		border-radius: 2px;
		line-height: 1.1;
		color: $default;

		&.tag-primary {
			background-color: $tag-primary-color;
		}

		&.tag-success {
			background-color: $tag-success-color;
		}

		&.tag-info {
			background-color: $info;
		}

		&.tag-warning {
			background-color: $tag-warning-color;
		}

		&.tag-danger {
			background-color: $tag-danger-color;
		}
	}
}


.bootstrap-tagsinput {

	.tag {
		border-radius: 3px;
		font-weight: $font-normal;
		font-size: 11px;
		padding: 4px 8px;
		margin-right: 2px;
		color: $default;


		[data-role=remove] {
			margin-left: 8px;
			cursor: pointer;

			&::after {
				content: "x";
				padding: 0 2px;
			}
		}
	}

}


