<header>
	<div class="header-main">
		<div class="container">
			<div class="row shop-page-wrapper">
				<div class="col-md-4 col-sm-4 col-4">
					<div class="navbar-brand">
						<a ui-sref="shop.home"><h1><span>Jing</span>Cafe</h1></a>
					</div>
				</div>
				<div class="col-md-8 col-sm-8 col-8 pull-right">
					<div class="shop-navbar-wrapper">
						<div class="shop-navbar">
							<div class="shop-navbar-wrap">
								<ul class="navbar-links notification">
									<li class="navbar-link navbar-tap navbar-icon" user-notification></li>
									<li class="navbar-link navbar-tap navbar-icon" user-cart></li>
									<li class="navbar-link navbar-tap">
										<div class="shop-drawer" uib-dropdown>
											<div class="inner-drawer">
												<div class="shop-avatar">
													<div class="shop-avatar-placeholder">
														<svg class="shop-svg-icon icon-headshot" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><g><circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle><path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round" stroke-miterlimit="10"></path></g></svg>
													</div>
													<div uib-dropdown-menu template-url="/templates/shop/user-dropdown-list.html"></div>
												</div>
											</div>
										</div>
									</li>
									<li class="navbar-link "></li>
								</ul>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-9 col-9">
					<shop-menu></shop-menu>
				</div>
			</div>
		</div>
	</div>

</header>