
<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title">產品刪除</h5>
		<button type="button" class="close" data-label="Close" ng-click="$vm.cancel()"></button>
	</div>
	<div class="modal-body">
		<div class="container">
			<h5 class="remarkable-text">是否刪除此產品?</h5>
		</div>	
	</div>
	<div class="modal-footer">
		<button class="btn btn-with-icon btn-danger no-transform" ng-click="$vm.confirm()"><i class="fa fa-check"></i>確認</button>
		<button class="btn btn-with-icon btn-default no-transform" ng-click="$vm.cancel()"><i class="fa fa-times"></i>取消</button>
	</div>
</div>
