.footer {
	
	.footer-top {
		background: #292929;
		padding: 50px;

		.col-4 {
			overflow: hidden;
		}

		h2 {
			color: $default;
			margin-bottom: 22px;
			line-height: 30px;
			font-size: 16px;
			font-weight: 700;
		}

		h3 {
			color: $default;
			margin-bottom: 30px;
			font-size: 16px;
		}

		.description {
			color: $default;
			margin-bottom: 25px;
			font-family: $font-family-medium;
			font-size: 14px;
			line-height: 1.2;
			font-weight: $font-normal;
			vertical-align: bottom;
			word-wrap: break-word;
		    word-break: break-all;
		    white-space: pre-wrap;
		}

		p.info-wrap {
			color: $default;
			margin-bottom: 20px;
			font-family: $font-family-medium;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 500;
			clear: both;

			a {
				cursor: pointer;
				color: inherit;
				text-decoration: none;

				&:hover {
					color: $brand-primary !important;
				}
			}

			.fa {
				margin-right: 7px;
				font-size: inherit;
				color: inherit;				
			}
		}

		.navigation {
			position: relative;
			display: flex;
		    justify-content: space-around;
		    background-color: transparent;
		    padding: 0;		    

			&-title {
				color: $default;
				margin-bottom: 15px;
				line-height: 30px;
				font-size: 16px;
				font-weight: 700;
			}

			&-list {				
				text-decoration: none;
				list-style: none;
				list-style-type: none;
				float: left;
				margin: 0;
				padding: 0;

				&-item {
					display:block;		  	
					margin: 0;			
					padding-bottom: 10px;
					list-style: none;
					text-decoration:none;
			  		// border-bottom: 1px solid #d6d6d6;		
				}

				&-link {
					list-style: none;
					text-decoration: none;
					color: $default;
					font-size: 13px;
					font-weight: normal;
					font-family: $font-family-medium;					

					&:hover {
						color: $brand-primary;
					}
				}
			}	
		}
		
		.social-network {
			@include link-hover(0.3s);
			margin-top: 20px;
			padding: 0;

			li {
				display: inline;
				font-size: 14px;
				margin-right: 10px;
				border-bottom: none;

				a {
					color: #d0d0d0;
					padding: 5px 10px;
					background: $black;
					border-radius: 50%;

					&:hover {
						.fa-twitter {
							color: #00abf0;
							// color: $twitter-color;
						}

						.fa-facebook {
							color: #39579a;
							// color: $facebook-color;
						}

						.fa-google-plus {
							color: #eb8984;
							// color: $google-color;
						}

						.fa-pinterest {
							color: #c9171e;
						}
						.fa-linkedin {
							color: #0077b5;
							// color: #linkedin-color;
						}
					}
				}
			}
		}
	}

	.footer-bottom {
		background: #090909;
		padding: 30px;

		span {
			color: $default;
			line-height: 20px;
			content: '';
			font-size: 14px;
			font-weight: normal;
		}

		a {
			color: $default;
			font-size: 13px;
			text-decoration: none;
			
			&:hover {
				color: $brand-primary;
			}

			&.scrollup {
				color: $default;
				background-color: $brand-primary;
				height: 40px;
				width: 40px;
				font-size: 12px;
				line-height: 30px;
				text-align: center;
				text-decoration: none;
				position: fixed;
				bottom: 20px;
				right: 40px;
				opacity: 0.5;
				border-radius: 50%;
				z-index: 999;
				opacity: .5;

				&:hover {
					opacity: 1;
					background-color: $brand-primary;
					color: $default;
				}
			}

		}
	}
}


@media screen and (max-width: $resXS) {
	.footer {
		.footer-top {
			padding: 4rem 2rem;
		}
	}
}