.menu {
	font-size: 12px;
	float: right;
	text-transform: uppercase;
	font-weight: $font-bold;

	ul.nav-tabs {
		border-bottom: 0;

		& > li {
			color: $black;
			float: left;
			margin-bottom: 0;
		}

		a {
			border-radius: 0;
			color: $text-primary-color;
			padding: 30px;
		}

		a:hover {
			@include link-hover(0.3s);
			color: $brand-primary;
			border-color: #fff #fff #fff;
			border-radius: 0;
			background-color: $default;
		}

	}

}


.shop-menu {
	float: right;
	min-width: 230px;
	margin-top: 10px;

	ul {
		& > li {
			list-style: none;
			display: inline-block;
			padding-left: 15px;
			padding-right: 15px;
		
			&:last-child {
				padding-right: 0;
			}

			&.open {
				& > a {
					color: $brand-sub-primary;

					&.message {
						color: #209e91;
					}
				}
			}

			& > a {
				background: $default;
				color: $item-color;
				font-family: $font-family-base;
				font-size: 14px;
				font-weight: 300;
				padding: 0;
				padding-right: 0;
				text-decoration: none;
				position: relative;
				
				&:hover {
					color: $brand-sub-primary;
					background: $default;
				
					&.message {
						color: #209e91;
					}
				}

				&.message {
					span {
						background: #209e91;
					}

					.notification-ring {
						border-color: #209e91;	
					}
				}

				& > i {
					margin-right: 3px;
				}

				// span {
				// 	display: inline-block;
				// 	min-width: 10px;
				// 	padding: 2px 4px 2px 4px;
				// 	color: $default;
				// 	vertical-align: baseline;
				// 	white-space: nowrap;
				// 	text-align: center;
				// 	border-radius: 13px;
				// 	text-shadow: none;
				// 	line-height: 11px;
				// 	background-color: $brand-sub-primary;
    // 				position: absolute;
    // 				top: -5px;
    // 				right: -14px;
    // 				font-size: 11px; 
				// }

				// .notification-ring {
				// 	@include notification-animate(8s);
				// 	border: 1px solid #brand-sub-primary;
    // 				border-radius: 100px;
    // 				height: 40px;
    // 				width: 40px;
    // 				position: absolute;
    // 				top: -18px;
    // 				right: -27px;    			
    // 				opacity: 0.0; 
				// }
			}
		}
	}

	.plain-menu {
		float: right;
		padding: 0;
		border: 0;
		opacity: 1;
		position: relative;
		margin-left: 13px 30px 0 0;
		display: black;
	}


}


.main-menu {
	padding-left: 0;

	li {
		padding-right: 15px;
		padding-left: 15px;

		&:first-child {
			padding-left: 0px;
		}

		&:hover {
			ul.sub-menu {
				display: block;
				@include fade-in-up(400ms);
			}
		}

		& > a {
			color: $item-color !important;
			font-family: $font-family-roboto;
			font-size: 17px;
			font-weight: 300;
			padding: 0;
			padding-bottom: 10px;
			
			&:hover,
			&.active {
				background: none;
				color: $brand-primary !important;
			}
		}

		ul.sub-menu {
			position: absolute;
		  	top: 30px;
		  	left: 0;
		 	background: rgba(0, 0, 0, 0.6);
		  	list-style: none;
		  	padding: 0;
		  	margin: 0;
		  	width: 220px;
		  	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
		  	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
		  	display: none;
		  	z-index: 999;

		  	li {
		  		padding: 10px 20px 0;

		  		&:last-child {
		  			padding-bottom: 20px;
		  		}

		  		a {
		  			color: $default !important;
		  			
		  			&:hover {
		  				color: #FDB45E !important;
		  			}
		  		}
		  	}
		}
	}
}







