.sidebar-gallery {
	li {
		display: inline-block;
		margin: 0 10px 10px 0;

		a {
			border-radius: 4px;
			display: inline-block;
		}
	}
}

.product-category-sidebar {
	
	.product-category {
		border: 3px solid #F7F7F0;
		margin-bottom: 35px;
		padding: 15px 0px 20px;
		
		.badge {
			margin-top: 5px;
			background: none;
			border-radius: 10px;
			color: $item-color;
			display: inline-block;
			font-size: 14px;
			font-weight: bold;
			line-height: 1;
			min-width: 10px;
			padding: 3px 7px;
			text-align: center;
			vertical-align: baseline;
			white-space: nowrap;
		}

		.panel {
			background-color: $default;
			border: 0;
			border-radius: 0px;
			box-shadow: none;
			margin: 0 15px;
		}

		.panel-heading {
			a {
				color: $item-color;
				font-family: $font-family-roboto;
				font-size: 16px;
				font-weight: $font-bold;
				text-decoration: none;
				text-transform: uppercase;
			}
		}

		.panel-body {
			border-top: 0 none;

			ul {
				padding-left: 20px;
				text-decoration: none;
				list-style: none;
				content: '';

				li {
					color: $item-color;
					font-family: $font-family-roboto;
					font-size: 12px;
					text-transform: uppercase;

					a {
						&:hover {
							list-style: none;
							text-decoration: none;
							color: $brand-primary;
						}
					}
				}				
			}
		}

		.product-measure-items {
			margin: 0;
			background-color: $default;
			border: 0;
			border-radius: 0px;
			box-shadow: none;
			text-decoration: none;
			list-style: none;
			content: '';

			li {
				padding-right: 10px;
				margin-left: -20px;
				font-family: $font-family-roboto;
				font-weight: $font-bold;
				font-style: 16px;
			}

			a {
				background-color: $default;
				color: $item-color;
				// padding-bottom: 5px 15px;
				text-decoration: none;
				text-transform: uppercase;

				&:hover {
					text-decoration: none;
					background-color: $default;
					color: $brand-primary !important;
				}
			}
		}
	}

	.shipping {
		background-color: #F2F2F2;
		margin-top: 30px;
		overflow: hidden;
		padding-top: 20px;
		position: relative;
	}

}








