


<div class="row">
	<div class="pie-chart-container" ng-repeat="dailyStatistic in ::$vm.dailyStatistics">
		<div class="board zoom-in animated">
			<div class="board-body">
				<div class="chart-box">
					<div class="chart" data-percent="{{::dailyStatistic.percent}}"><span class="percent">{{::dailyStatistic.percent}}</span></div>
					<div class="description">
						<label>{{::dailyStatistic.name}}</label>
						<span class="amount">{{::dailyStatistic.amount}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>		
</div>



