<div class="container">
	<div class="cassette">
		<div class="row">
			<div class="col-md-10 co-10 offset-md-1 offset-1">
				<div class="box">
					<div class="box-heading text-center">
						<h2 class="outline">恭喜成為JingCafe會員</h2>	
					</div>
					<div class="box-body">
						<div class="subscribe-container">						
							<label class="remarkable-text">未收到Email請按此
								<div class="btn-wrap">
									<button class="btn-material" ng-click="$vm.resendEmailVerification()">點擊</button>
								</div>
							</label>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>