

.modal-upload-wrap {
	position: relative;
	height: 350px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid $border;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
    box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
    
    .description {
        padding: 0 5px;

        label {
            font-weight: $font-bold;    
        }

        p {
            font-family: $font-family-medium;
            font-size: 14px;
            font-weight: $font-normal;
            color: $text-primary-color;
            line-height: 20px;
            text-overflow: ellipsis;
            word-break: break-word;
        }
    }

}



