.blog {
	margin-top: 30px;

	&-category {
		list-style: none;
		margin: 0;
		padding: 0;
	
		li {
			float: none;
			margin-bottom: 20px;

			a {
				background: $border-color;
				border-radius: 4px;
				color: #888;
				display: inline-block;
				padding: 5px 15px;

				&:hover {
					background: $brand-primary;
					color: $default;
				}
			}
		}
	}

	&-archieve {
		list-style: none outside none;
		margin: 0;
		padding: 0;

		li {
			padding: 10px 0;
			border-bottom: 1px  solid $border-color;

			&:first-child {
				padding-top: 0;
			}
		}
	}

	&-item {
		border-radius: 0;
		overflow: hidden;
		margin-bottom: 50px;

		.img-blog {
			border-radius: 5px;
			margin-bottom: 30px;
		}

		.blog-content {
			padding-bottom: 25px;
		
			h2 {
				margin-top: 0;
				font-size: 30px;
			}

			h4 {
				color: #858586;
				margin-bottom: 40px;
			}

			p {
				font-size: 13px;
				color: #858586;
			}
		}

		.entry-meta {
			border-radius: 5px;
			overflow: hidden;

			& > span {
				color: #ccc;
				background: $border-color;
  				border-top: 1px solid $default;
  				display: block;
  				font-size: 12px;
	  			overflow: hidden;
  				padding: 5px;
  				text-align: left;

  				a {
  					t-size: 12px;
  					margin-left: 3px;
  					font-weight: 300;
  					color: #888;
  				}
			}
		}
	}

	.readmore {
		margin-top: 0;
	}

}