
.note {
	position: relative;


	&.note-guarantee {
		border-radius: 2px;
		-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
		box-sizing: border-box;
		margin: .5rem 0;
		line-height: 3rem;
		background-color: #fffbf2;
		border: 1px solid #ffedb3;
		user-select: none;
		display: flex;
		align-items: center;
		height: 50px;

		.icon {
			padding-right: 2.25rem;
		    background-repeat: no-repeat;
		    background-position: center right .5625rem;
		    -webkit-background-size: 1.125rem 1.125rem;
		    background-size: 1.125rem 1.125rem;
		    width: 50px;
		    height: 50px;
		
		    &.icon-success {
		    	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
		    }
		    
		    &.icon-warning {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
		    }

		}

		svg {
			margin-left: 1.5rem;
			margin-right: 1.2rem;
		}

		span {
			text-transform: capitalize;
			font-size: 1.1rem;
			padding: 0 1rem;
		}
	}

	
}

@media screen and (max-width: $resXS) {
	.note {
		span {
			font-size: 12px !important;
		}
	}
}

