

ul.pager-pagination {
	display: inline-block;
	margin-top: 10px;	
	font-size: 13px;
	padding: 0;
	list-style: none;
	list-style-type: disc;

	li.pager-pagination-item {
		display: inline-block;
		padding: 0;
		margin-right: 5px;
		background: #ebe9f2;
		color: #898b96;
		border-radius: 50%;
		
		&:active,
		&.active {
			background-color: $brand-bright;
			
			.pagination-link {
				color: $default;
			}
		}

		&:hover {
			.paginatino-link {
				color: #898b96;
			}
		}

		.pagination-link {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2.25rem;
			min-width: 2.25rem;
			vertical-align: middle;
			padding: 0.5rem;
			text-align: center;
			font-size: 1rem;
			line-height: 1rem;
			font-weight: $font-normal;
			text-decoration: none;
			cursor: pointer;
		}
	}




}


