.nav-tabs {
	li {
		&.active {
			a {
				&,
				&:hover,
				&:focus {
					-moz-border-bottom-colors: none;
					-moz-border-left-colors: none;
					-moz-border-right-colors: none;
					-moz-border-top-colors: none;
					background-color: $brand-primary;
					border: 0px;
					color: $default;
					cursor: default;
					margin-right: 0;
					margin-left: 0;
				}
			}
		}

		a {
			border: 1px solid rgba(0, 0, 0, 0);
			border-radius: 4px 4px 0 0;
			line-height: 1.42857;
			margin-right: 0;
		}
	}

}

.verification {
	&-tab {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 60px;
		border-bottom: 1px solid rgba(0, 0, 0, .09);
		margin-bottom: 20px;
		margin: 0;
		border-radius: 2px;

		&-item {
			@include user-select(none);
			cursor: pointer;
			display: table-cell;
			list-style: none;
			text-align: center;
			font-weight: 300;
			font-size: 25px;
			opacity: 0.5;
			padding-top: 1.2rem;
			color: rgba(0, 0, 0, .8);
			line-height: 1.9rem;
			
			&.active,
			&:hover {
				opacity: 1.5;
				color: $brand-primary;
				border-bottom: 2px solid $brand-primary;
			}
		}
	}
	
	&-content {
		margin: 15px 0;
		min-height: 150px;
	}

	.pager {
		display: block;
		min-height: 50px;
		
		.previous {
			float: left;
		}

		.next {
			float: right;
		}
	}
}

@media screen and (max-width: $resXXS) {
	.verification {
		&-tab {
			&-item {
				font-size: 18px;
			}
		}
	}
}


.product-tab {
	background-color: $default;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
	border-radius: 4px;
	overflow: visible;
	padding: 0;
	width: 100%;
	height: auto;
	list-style: none outside none;
	transition: margin-top .3s cubic-bezier(.4,0,.2,1);

	&-header {
		display: flex;
		align-items: stretch;
		border-bottom: 1px solid rgba(0, 0, 0, .09);
		list-style: none;
		padding: 0;
		margin: 0;
		display: block;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;

		.product-tab-item {
			@include user-select(none);
			box-sizing: border-box;
			display: inline-block;
			cursor: pointer;
			text-align: -webkit-match-parent;
			height: 60px;

			&.active,
			&:active,
			&:hover {
				text-decoration: none;
				border-bottom: 2px solid $brand-primary;

				a {
					color: $primary;
				}
			}

			a.tab-link {
				color: $text-default-color;
				font-size: 1.2rem;
				font-weight: normal;
				text-decoration: none;
				display: block;
				padding: 1.6rem 2rem;
				text-transform: uppercase;
			}
		}
	}

	&-content {
		display: block;
		padding: 1rem 3rem;

		.description {
			white-space: pre-wrap;
			color: rgba(0, 0, 0, .8);
			font-weight: normal;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 2rem;
		}
	}
}

