::-webkit-scrollbar {
  width: 0.5em;
    height: 0.5em; 
}

::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    cursor: pointer; 
}

::-webkit-scrollbar-track {
    background: transparent; 
}

.test-image {
	background: url('/assets/img/1suna9X_mrEZ.png') repeat left top;
}

html {
	@include main-background();
	min-height: 520px;
	height: 100%;
}

body {
	@include main-background();
}

html, body {
	font-family: $font-family-base;
	letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0,0,0,.84);
    font-size: 14px;
	font-weight: normal;
	overflow-x: hidden;
	background-color: $default;
	line-height: 1.4;

	-moz-appearance: checkbox-small;
	-moz-appearance: dialog;
	-moz-appearance: radio-small;
	-moz-appearance: scrollbar;
	-moz-appearance: tab-left-edge Obsolete;
	-moz-appearance: window;
}




body::-moz-scrollbar {
    width: 1em;
}
 
body::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-moz-scrollbar-thumb {
  	background-color: darkgrey;
  	outline: 1px solid slategrey;
}

h1,h2,h3,h4,h5,h6 {
	color: $text-primary-color;
	line-height: 1.1em;
}

div {
	display: block;
}

label, p, span, div {
	font-weight: normal;
}

main {
    position: relative;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    box-sizing: border-box;
}

a {
	@include link-hover(0.1s);
	background-color: transparent;
    text-decoration:none;
    outline: none;
    color: $text-primary-color;
}

a, button, input {
	-webkit-tap-highlight-color: transparent;
}

ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

li {
	list-style: list-item;
	text-align: -webkit-match-parent;
}

.home {
  	padding: 20px 20px 0px 20px;
  	background-color: rgba($color: $webpack-color, $alpha: 0.1);
  	hr {
    	width: 15em;
  	}
}


.section {
	// display: flex;
 //  	align-items: center;
 //  	min-height: calc(100vh - 40px);
 //  	background-color: $background-color;
 //  	color: #F5F5F5;
	border-radius: 10px;
}

.navigation {
	background-color: $default;
	padding: 0;
}

.with-scroll {
	height: calc(100% - 44px);
	overflow-y: auto;
}

.surface {
	@include scrollbars(.4em, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.7));
	color: $text-default-color;
	background-color: $default;
	background-attachment: fixed;
	transition: none;
	top: 0;
    height: 100%;
    width: 100%;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main-interface {
	border: none;
	height: auto;
	position: relative;
	transition: none;
	background-color: #f5f5f5;
	margin-top: 60px;

	&.logistic-view {
		background-color: #f2f3f8;
		min-height: 650px;
	}

	&.viewport {
		height: calc(100vh -218px);
	}
}

@media screen and (min-width: $resXXL) {
	.main-interface {
		min-height: 700px;
	}	
}


@media screen and (max-height: $resXXL) {
	.main-interface {
		min-height: 550px;
	}
}

@media screen and (max-height: $resM) {
	.main-interface {
		min-height: 400px;
	}
}

@media screen and (max-width: $resXXS) {
	.main-interface {
		min-height: 350px;
	}
}


.well {
	background: $default;
	border-color: 1px solid #F7F7F0;
	border-radius: 4px;
	box-shadow: none;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 35px;
}




.right {
	right: 0;
}


@font-face {
	font-family: 'Courgette';
	font-style: normal;
	font-weight: 400;
	src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v4/Gkr63O-aJXf4Mv4t7cBUchJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


@keyframes rotation {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(359deg);
	}
}


@keyframes blink {
	from {
		opacity: .5;
	}

	to {
		opacity: 1;
	}
}



