

@mixin scrollbars($size, $forgeground-color, $background-color: mix($foreground-color, white, 50%)) {
	::-webkit-scrollbar {
		width: $size;
		height: $size;
	}

	::-moz-scrollbar {
		width: $size;
		height: $size;
		resize: both;
	}

	::-webkit-scrollbar-thumb {
		background: $forgeground-color;
		cursor: pointer;
	}

	::-moz-scrollbar-thumb {
		border-radius: 10px;
		-moz-box-shadow: inset 0 0 6px $default;
		background: #7A252B;
	}

	::-webkit-scrollbar-track {
		background: $background-color;
	}

	::-moz-scrollbar-thumb {
		border-radius: 10px;
		-moz-box-shadow: inset 0 0 6px $default;
		background: #7A252B;
	}

	body {
		scrollbar-face-color: $forgeground-color;
		scrollbar-track-color: $background-color;
	}
}

@mixin background($relativeUrl) {
	background: url($image-root + $relativeUrl);
}
 
@mixin backgroundNoRepeat($relativeUrl) {
	background: url($image-root + $relativeUrl) no-repeat 0 0;
}

@mixin image-background($relativeUrl) {
	background-image: url($image-root + $relativeUrl);
}

@mixin main-background() {

	&::before {
		font-family: $font-family-base;
	  	font-size: 14px;
	  	font-weight: 300;
	  	line-height: 1.6em;
	  	color: #fff;
	  	background-color: #fff;
	  	overflow-x: hidden;
		content: '';
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-size: cover;
		will-change: transform;
		z-index: -1;
	}
}

@mixin background-translucent-dard($opacity) {
	background: rgba(0, 0, 0, $opacity);
}

@mixin placeholder-style($color, $opacity) {
	&::-webkit-input-placeholder {
		color: $color;
		opacity: $opacity;
	}

	&:-moz-placeholder {
		// Firefox 18-
		color: $color;
		opacity: $opacity;
	}
	&::-moz-placehoder {
		color: $color;
		opacity: $opacity;
	}

	&-ms-input-placeholder {
		color: $color;
		opacity: $opacity;
	}
}


/******* Transition ********/
@mixin transition-ease($secondsFrom, $secondsEnd: 0s) {
	-moz-transition: all $secondsFrom ease $secondsEnd;
	-webkit-transition: all $secondsFrom ease $secondsEnd;
	-o-transition: all $secondsFrom ease $secondsEnd;
	transition: all $secondsFrom ease $secondsEnd;
}


@mixin transition-duration($seconds) {
	-webkit-transition-duration: $seconds;
	-moz-transition-duration: $seconds;
	-ms-transition-duration: $seconds;
	-o-transition-duration: $seconds;
	transition-duration: $seconds;
}

@mixin transition-opacity($seconds) {
	-webkit-transition: opacity $seconds;
	-moz-transition: opacity $seconds;
	-o-transition: opacity $seconds;
	transition: opacity$seconds;
}

@mixin transition-property-margin() {
	-webkit-transition-property: height, width;
  	-moz-transition-property: height, width;
  	-ms-transition-property: height, width;
  	-o-transition-property: height, width;
  	transition-property: height, width;
}

@mixin transition($seconds: none) {
	-webkit-transition: $seconds;
	-moz-transition: $seconds;
	-ms-transition: $seconds;
	-o-transition: $seconds;
	transition: $seconds;
}

@mixin transition-property-opacity() {
	-webkit-transition-property: -webkit-transform, opacity;
  	-moz-transition-property: -moz-transform, opacity;
  	-ms-transition-property: -ms-transform, opacity;
 	-o-transition-property: -o-transform, opacity;
 	transition-property: transform, opacity;
}



@mixin link-hover($seconds) {
	transition: all $seconds ease-in-out;
    -moz-transition: all $seconds ease-in-out;
    -webkit-transition: all $seconds ease-in-out;
    -o-transition: all $seconds ease-in-out;
}




@mixin animation-duration($seconds) {
	-webkit-animation-duration: $seconds;
  	-moz-animation-duration: $seconds;
  	-ms-animation-duration: $seconds;
  	-o-animation-duration: $seconds;
  	animation-duration: $seconds;
}

@mixin fade-in-up($seconds) {
	-webkit-animation: fadeInUp $seconds;
  	-moz-animation: fadeInUp $seconds;
  	-ms-animation: fadeInUp $seconds;
  	-o-animation: fadeInUp $seconds;
  	animation: fadeInUp $seconds;
}

@mixin notification-animate($seconds) {
	-webkit-animation: pulsate $seconds ease-out;
            animation: pulsate $seconds ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}


@keyframes moveDown {
	0% {
		transform: translateY(-40px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@mixin move-down {
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}


@mixin overrideColors($color) {
	p,
	h1,h2,h3,h4,h5,h6,
	.pie-chart-item,
	.panel-heading>.dropdown .dropdown-toggle,
	.panel-title,
	ol.blur span,
	ul.blur,
	.popular-app-cost,
	.popular-app-info,
	.panel-title>.small,
	.panel-title>.small>a,
	.panel-title>small>a,
	.traffic-text label,
	.form-group label, 
	.help-block {
		color: $color;
	}
	.text-muted,
	.feed-message .message-time {
		color: $darken($color, 20);
	}
}

@mixin flex($flex-grow: 0, $flex-shrink: 0, $width: 0) {
	-webkit-box-flex: $flex-grow $flex-shrink $width;
    -ms-flex: $flex-grow $flex-shrink $width;
    flex: $flex-grow $flex-shrink $width;
}

// @mixin flex-display() {
// 	display: -webkit-box;
// 	display: -webkit-flex;
// 	display: -ms-flexbox;
// 	display: flex;
// }

/**
 *
 * flex-start
 * flex-end
 * center
 * stretch
 * baseline
 */
// @mixin flex-align($direction) {
// 	-webkit-box-align: $direction;
//     -webkit-align-items: $direction;
//     -ms-flex-align: $direction;
//     align-items: $direction;
// }

/**
 * flex-start
 * flex-end
 * center
 * stretch
 * baseline
 */
// @mixin align-self($direction) {	
// 	align-self: $direction;	
// }

/**
 * Set flex pack direction
 * justify
 * center
 * space-between
 */
// @mixin flex-pack($direction) {
// 	-webkit-box-pack: $direction;
// 	-moz-flex-pack: $direction;
// 	-ms-flex-pack: $direction;
// 	-o-flex-pack: $direction;
// }

/**
 * Direction of flex
 *
 * row
 * row-reverse
 * column
 * column-reverse
 */
// @mixin flex-direction($direction) {
// 	-webkit-box-direction: $direction;
// 	-ms-flex-direction: $direction;
// 	flex-direction: $direction;
// }

// @mixin flex-orient($direction) {
// 	-webkit-box-orient: $direction;
// 	-ms-orient: $direction;
// 	orient: $direction;
// }
	
/**
 * nowrap 
 * wrap
 * wrap-reverse
 */
// @mixin flex-wrap($direction) {
// 	-webkit-box-wrap: $direction;
// 	-ms-flex-wrap: $direction;
// 	flex-wrap: $direction;
// }

/**
 *
 * flex-start
 * flex-end
 * center
 * space-between
 * space-around
 */ 
// @mixin justify-content($direction) {
// 	-webkit-justify-content: $direction;
// 	-ms-justify-content: $direction;
// 	justify-content: $direction;
// }


@mixin user-select($status) {
	-webkit-user-select: $status;
    -moz-user-select: $status;
    -ms-user-select: $status;
    user-select: $status;
}

@mixin placeholderStyle($color, $opacity) {
  	&::-webkit-input-placeholder {
    	color: $color;
    	opacity: $opacity;
  	}
  	
  	&:-moz-placeholder {
    	/* Firefox 18- */
    	color: $color;
    	opacity: $opacity;
  	}
  	
  	&::-moz-placeholder {
    	/* Firefox 19+ */
    	color: $color;
    	opacity: $opacity;
  	}
  
  	&:-ms-input-placeholder {
    	color: $color;
    	opacity: $opacity;
  	}
}



/**
 * Wrapper box
 */
@mixin wrapper {
	all: initial;
	background: transparent none repeat 0 0/auto auto padding-box border-box scroll;
	-webkit-border-image: none;
	border-image: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	bottom: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	clear: none;
	clip: auto;
	cursor: auto;
	float: none;
	height: auto;
	-ms-hyphens: none;
	hyphens: none;
	left: auto;
	letter-spacing: normal;
	list-style: disc outside none;
	margin: 0;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	opacity: 1;
	overflow: visible;
	overflow-x: visible;
	overflow-y: visible;
	padding: 0;
	-webkit-perspective: none;
	perspective: none;
	-webkit-perspective-origin: 50;
	perspective-origin: 50% 50%;
	text-align-last: auto;
	text-decoration: none;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	top: auto;
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
	-webkit-transform-style: flat;
	transform-style: flat;
	-webkit-transition: none 0s ease 0s;
	transition: none 0s ease 0s;
	vertical-align: baseline;
	visibility: visible;
	white-space: normal;
	width: auto;
	word-spacing: normal;
	z-index: auto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #373e44;
	font-style: normal;
	font-variant: normal;
	font-weight: $font-light;
	font-stretch: normal;
	line-height: normal;
	font-family: $font-family-medium;
	font-size: 15px;
	line-height: 25px;
}














