
<div class="container">
	<div class="cassette">
		<div class="row">
			<div class="col-sm-12 col-12">
				<div class="box box-default">
					<div class="box-body">
						<div class="text-center">
							<h3 class="outline">{{::$vm.title}}</h3>
						</div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-lg-10 col-md-10 col-sm-12 col-12 offset-lg-1 offset-md-1">
									<div ng-transclude></div>
									<p class="text-content" ng-bind-html="::$vm.context"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>