<nav class="navbar navbar-expand-lg navbar-light rounded">
	<div class="pull-right">
		<button type="button" class="navbar-toggler">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
	<div class="main-menu collapse navbar-collapse">
		<ul class="navbar-nav mr-auto mr-auto mt-2 mt-lg-0" ng-class="{'collapse': $vm.menuCollapsed}">
			<li class="nav-item" ng-repeat="menu in $vm.shopMenuItems" ng-init="mainMenuIndex = $index">
				<a href class="nav-link" ng-if="!menu.isAdmin || (menu.isAdmin && $vm.isAuthenticated)" ng-click="$vm.switchMenuInterface($event, menu, $index)" ng-class="{'active': $index === $vm.menuIndexActive}">
					{{menu.title}}
					<span class="sr-only"></span>
					<i ng-class="{'fa fa-angle-down': menu.shopItems && menu.shopItems.length > 0}"></i>
				</a>
				<ul class="sub-menu" ng-if="!menu.isAdmin || (menu.isAdmin && $vm.isAuthenticated)" role="menu">
					<li ng-repeat="item in menu.shopItems">
						<a href ng-click="$vm.switchMenuInterface($event, item, mainMenuIndex)">{{::item.title}}</a>
					</li>
				</ul>
			</li>	
		</ul>
	</div>
</nav>


<!-- <form class="form-inline my-2 my-md-0">
<input class="form-control" type="text" placeholder="Search" aria-label="Search">
</form> -->