<label class="text-result" style="padding-left: 5px;padding-bottom: 10px;">共{{::$vm.orderQuantity}}筆</label>
<div class="order-container"></div>

<div class="text-center">
	<div order-pagination items-limit="5" page-index="0"></div>		
</div>


<!-- <div class="order" ng-repeat="order in $vm.orders">
	<div class="order-wrap">
		<div class="order-header">
			<div class="order-header-top">
				<span class="flex1">訂單編號: {{::order.id}}</span>
				<span class="flex0">訂購狀態: {{::order.createdAt}}</span>	
			</div>
			<div class="row order-header-bottom with-column">
				<div class="col-sm-4 col-4 order-column">
					<label class="item-link">商品</label>
				</div>
				<div class="col-sm-2 col-2 order-column">
					<label class="item-link">總金額</label>
				</div>
				<div class="col-sm-2 col-2 order-column">
					<label class="item-link">目前狀態</label>
				</div>
				<div class="col-sm-2 col-2 order-column">
					<label class="item-link">物流方式</label>
				</div>
				<div class="col-sm-2 col-2 order-column">
					<label class="item-link">配送天數</label>
				</div>	
			</div>
		</div>
		<div class="order-content">
			<div class="order-content-wrap">
				<div class="row order-content-item" ng-repeat="product in ::order.list">
					<div class="col-sm-4 col-4 item-fragment item-overview" ui-sref="shop.product.detail({'productId': product.id, 'productKey': product.product_key})">
						<div class="product-thumbnail" style="background-image: url({{::product.profile}});"></div>
						<span href class="product-name">{{::product.name}}</span>
						<span class="product-quantity">x{{::product.quantity}}</span>
					</div>
					<div class="col-sm-2 col-2 item-fragment item-column">
						<span class="total-price">{{::product.totalPrice | currency:'$NT': 0}}</span>
						<span class="text-normal">{{::order.userPayment.payment.name}}</span>
					</div>
					<div class="cols-sm-2 col-2 item-fragment">
						<span class="status">{{::order.status}}</span>
					</div>
					<div class="col-sm-2 col-2 item-fragment">
						<span class="text-normal">{{::order.userLogistic.logistic.name}}</span>
					</div>					
					<div class="col-sm-2 col-2 item-fragment item-column">
						<label class="text-normal">2-3天</label>
					</div>
				</div>
			</div>
		</div>
		<div class="order-bottom">
			<div class="order-column">
				<div class="tag-wrap">
					<a href class="btn btn-info btn-sm no-transform" ui-sref="shop.user.order.detail({'orderId': order.id})">查看明細</a>
				</div>
			</div>
		</div>
	</div>
</div> -->